export(dpath, reorder.dpath, plot.dpath, fitsom, prioritize, differentiation.path.p2c)
import(Matrix, igraph, MASS)
importFrom(FNN, knn.index, knnx.index)
importFrom(irlba, irlba)
importFrom(colorspace, hex, hex2RGB, mixcolor)
importFrom(gplots, col2hex, colorpanel)
importFrom(fields, rdist)
importFrom(kohonen, som)
importFrom(parallel, mclapply)
importFrom(class, somgrid)
importFrom(cluster, pam)
